/*Elza Light
font-family: "elza", sans-serif;
font-weight: 300;
font-style: normal;

Elza Light Oblique
font-family: "elza", sans-serif;
font-weight: 300;
font-style: italic;

Elza Regular
font-family: "elza", sans-serif;
font-weight: 400;
font-style: normal;

Elza Oblique
font-family: "elza", sans-serif;
font-weight: 400;
font-style: italic; 
*/

body {
    background-color: white;
    color: black;
    font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    height: 3020px;
}

p {
    font-size: large;
}

nav {
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 10px;
    border:1px solid black;
    font-size: 20px;
}

nav h3 {
    margin-left: 170px;
}

nav h3:hover {
    cursor: default;
}

.button{
    margin-left: 11%;
    margin-top: 18px;
    font-size: 30px;
}

nav button {
    margin-right: 150px;
    background-color: transparent;
    border: none;
}

nav button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.section-one {
    margin-top: 100px;
}

#gif {
    width: 60%;
    margin: auto;
    display: block;
}

#scrollButton {
    margin: auto;
    display: block;
    background-color: transparent;
    border: none;
    font-size: 30px;
    position: relative;
    top: -30px;
    margin-bottom: 50px;
}

#scrollButton:hover {
    cursor: pointer;
    transform: rotate(360deg);
    transition: 1s;
}

.together {
    display: flex;
    /* margin-right: -17px; */
    justify-content: center; 
    align-items: center; 
    margin: -17px;
}

.section-two {
    border:1px solid black;
    width: 100%;
    height: 120vh;
}

.section-two h1, .section-two p {
    padding: 20px;
    margin-left: 30px;
    margin-right: 50%;
    text-align: justify;
}

.section-two h1 {
    font-size: 34px;
    margin-top: 50px;
}

.section-twovideo {
    border:1px solid black;
    width: 100%;
    height: 120vh;
}

.tiktok-embed {
    padding-top: 25px;
}

.section-threeimg {
    border:1px solid black;
    width: 100%;
    height: 120vh;
    margin-top: 17px;
}

.section-threeimg img, .section-fourimg img {
    width: 50%;
    margin: auto;
    display: block;
    padding-top: 50px;
}

.section-three {
    border:1px solid black;
    width: 100%;
    height: 120vh;
    margin-top: 17px;
}

.section-three h1, .section-three p {
    padding: 20px;
    margin-left: 30px;
    margin-right: 50%;
    text-align: justify;
}

.section-three h1 {
    font-size: 34px;
    margin-top: 50px;
}

span {
    font-family: "elza", sans-serif;
    font-weight: 400;
    font-style: italic; 
}

.section-four, .section-fourimg {
    border:1px solid black;
    width: 100%;
    height: 150vh;
    margin-top: 17px;
}

.section-four h1, .section-four h2, .section-four p {
    padding: 20px;
    margin-left: 30px;
    margin-right: 50%;
    text-align: justify;
}

.section-four h1 {
    font-size: 34px;
    margin-top: 50px;
}

.section-four h2 {
    margin-bottom: -40px;
}

figcaption {
    text-align: center;
    padding-top: 20px;
}

.section-five, .section-fiveimg {
    border:1px solid black;
    width: 100%;
    height: 150vh;
    margin-top: 17px;
}

.section-fiveimg img {
    width: 40%;
    padding-left: 60px;
    margin-right: -40px;
    margin-bottom: 20px;
}

#screen1 {
    margin-top: 50px;
}

.section-five h1, .section-five p {
    padding: 20px;
    margin-left: 30px;
    margin-right: 50%;
    text-align: justify;
}

footer {
    border:1px solid black;
    width: 100%;
    margin-top: 17px;
    margin-left: -10px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
}

.links {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    display: flex;
}

a {
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}
